@{
    ViewBag.Title = @Resources.Resource.MailConfirm;
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        @Resources.Resource.ThanksForConfirmingEmail @Html.ActionLink(@Resources.Resource.ClickHereForEntry, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
