@model task_1.Models.ExternalLoginConfirmationViewModel
@{
    ViewBag.Title = Resources.Resource.Registration;
}
<h2>@ViewBag.Title.</h2>
<h3>@Resources.Resource.BindingYourAccount @ViewBag.LoginProvider.</h3>

@using (Html.BeginForm("ExternalLoginConfirmation", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <h4>@Resources.Resource.ConnectionForm</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <p class="text-info">
        @Resources.Resource.YouSuccesfullyPassedIdentificatioCheckWith <strong>@ViewBag.LoginProvider</strong> 
        @Resources.Resource.EnterUserNameAndEndEntry
    </p>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="@Resources.Resource.Registration" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
