@model task_1.Models.IndexViewModel
@{
    ViewBag.Title = Resources.Resource.Management;
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>@Resources.Resource.ChangingParametersOfAccount</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Resources.Resource.Password:</dt>
        <dd>
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink(Resources.Resource.ChangePassword, "ChangePassword")
            }
            else
            {
                @Html.ActionLink(Resources.Resource.Create, "SetPassword")
            }
            ]
        </dd>
        <dt>@Resources.Resource.ExternalEntryNames:</dt>
        <dd>
            @Model.Logins.Count [
            @Html.ActionLink(Resources.Resource.Management, "ManageLogins") ]
        </dd>
    </dl>
</div>
