@model task_1.Models.ProfileModel.Profile

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2 align="center">It is the @Model.UserName card</h2>
        <br><br>
        @{
            var currentCard = Model.BusinessCards.SingleOrDefault(x => x.Url == "Current");
            <ul id="CardArea" class="@currentCard.Template">
                @foreach (var field in currentCard.Fields)
                {
                    if(field.Type != " ")
                    {
                        <li>@field.Type: @field.Value</li>
                    }
                    else
                    {
                        <li> </li>
                    }
                }
            </ul>
            <br>
            <div align="center">
                Rating: @currentCard.Rating 
                <input id="CardId" type="hidden" value="@currentCard.Id"/>
                <br>
                <input id="RatingIncrease" type="submit" value="+1" onclick="increaseRating(1)" />
                <input id="RatingIncrease" type="submit" value="+2" onclick="increaseRating(2)" />
                <input id="RatingIncrease" type="submit" value="+3" onclick="increaseRating(3)" />
            </div>
        }
    </div>
    <script>
        function increaseRating(k) {
            var cardId = document.getElementById("CardId").value;
            $.ajax({
                data: {
                    id: cardId,
                    howMuch: k
                    },
                type: 'POST',
                url: "/Home/IncreaseRating",
                success: function () {
                    window.location.reload(true);
                }
            });
        }
    </script>
    <link href="~/Content/BusinessCardsStyle.css" rel="stylesheet" />
</body>
</html>
