@model task_1.Models.ProfileModel.Profile
@{
    ViewBag.Title = Resources.Resource.BusinessCardRedactor;
}

<!doctype html>
<html lang="en">
<head>
    <title></title>
</head>
<body>
    <h2>@Resources.Resource.BusinessCardRedactor</h2>
    <div class="col-md-10">
        <h3 align="center">@Resources.Resource.Redactor</h3>
        @if (Model.BusinessCards.Count(x => x.Url == "Edit") == 0)
        {
            using (Html.BeginForm())
            {
                <select id="Select1" name="template" title="@Resources.Resource.Template">
                    <option disabled selected>@Resources.Resource.Template</option>
                    <option value="Empty">Empty</option>
                    <option value="Template1">1</option>
                    <option value="Template2">2</option>
                    <option value="Template3">3</option>
                    <option value="Template4">4</option>
                    <option value="Template5">5</option>
                    <option value="Template6">6</option>
                    <option value="Template7">7</option>
                    <option value="Template8">8</option>
                    <option value="Template9">9</option>
                </select>
                <input type="submit" value="@Resources.Resource.Add" />
            }
        }
        @if (Model.BusinessCards.Count(x => x.Url == "Raw") != 0 ||
            Model.BusinessCards.Count(x => x.Url == "Edit") != 0)
        {
            var editingCard = Model.BusinessCards.SingleOrDefault(x => x.Url == "Raw");
            if (editingCard == null)
            {
                editingCard = Model.BusinessCards.SingleOrDefault(x => x.Url == "Edit");
                <form action="/Home/DeleteBusinessCard" method="post">
                    <input id="CardId" name="cardId" type="hidden" value="@editingCard.Id" />
                    <input type="submit" value="@Resources.Resource.Delete" />
                </form>
            }
            else
            {
                <input id="CardId" type="hidden" value="-1" />
            }
            <input id="saveBusinessCard" type="submit" value="@Resources.Resource.Save" onclick="sendList()" />
            <br><br><br>
            <input id="templateValue" type="hidden" value="@editingCard.Template" />
            <ul id="CardArea" class="@editingCard.Template">
                @if (editingCard.Url == "Edit") 
                {
                    foreach (var f in editingCard.Fields)
                    {
                        <li>@f.Value</li>
                    }
                }
                else
                {
                    for (int i = 0; i < 8; i++)
                    {
                        <li> </li>
                    }
                }
            </ul>
        }
    </div>
    <div class="col-md-2">
        <h3>Fields</h3>
        <div id="tools" style="height:390px;width:200px;overflow:auto">
            <ul id="fields">
                @foreach (var field in Model.Fields)
                {
                    <li>@field.Value</li>
                }
            </ul>
        </div>
    </div>
    <script src="~/Scripts/SortableCardArea.js"></script>
    <script>
    function sendList() {
        var id = document.getElementById("CardId").value;
        return $.ajax({
            type: 'POST',
            url: "/Home/SaveBusinessCard",
            success: function(response) {
                return window.location.href = "UserProfile";
            },
            data: {
                fields: $("#CardArea li").map(function() {
                    return $(this).text();
                }).get().join(),
                template: document.getElementById("templateValue").value,
                cardId: id
            }
        });
    };
    </script>
    <link href="~/Content/BusinessCardsStyle.css" rel="stylesheet" />
    <style>
        #CardArea li{
            border: dashed;
        }
    </style>
</body>
</html>