@model task_1.Models.ProfileModel.Profile

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <h2 align="center">It is the @Model.UserName card</h2>
        <br><br>
        @{
            var currentCard = Model.BusinessCards.SingleOrDefault(x => x.Url == "Current");
            if (currentCard.Template == "Empty")
            {
                <div id="EmptyTemplate">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if(field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "1")
            {
                <div id="Template1">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "2")
            {
                <div id="Template2">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "3")
            {
                <div id="Template3">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "4")
            {
                <div id="Template4">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "5")
            {
                <div id="Template5">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "6")
            {
                <div id="Template6">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "7")
            {
                <div id="Template7">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "8")
            {
                <div id="Template8">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            else if (currentCard.Template == "9")
            {
                <div id="Template9">
                    <ul id="CardArea">
                        @foreach (var field in currentCard.Fields)
                        {
                            if (field.Type != " ")
                            {
                                <li>@field.Type: @field.Value</li>
                            }
                            else
                            {
                                <li> </li>
                            }
                        }
                    </ul>
                </div>
            }
            <br>
            <div align="center">
                Rating: @currentCard.Rating 
                <input id="CardId" type="hidden" value="@currentCard.Id"/>
                <br>
                <input id="RatingIncrease" type="submit" value="+1" onclick="increaseRating(1)" />
                <input id="RatingIncrease" type="submit" value="+2" onclick="increaseRating(2)" />
                <input id="RatingIncrease" type="submit" value="+3" onclick="increaseRating(3)" />
            </div>
        }
    </div>
    <script>
        function increaseRating(k) {
            var cardId = document.getElementById("CardId").value;
            $.ajax({
                data: {
                    id: cardId,
                    howMuch: k
                    },
                type: 'POST',
                url: "/Home/IncreaseRating",
                success: function () {
                    window.location.reload(true);
                }
            });
        }
    </script>
    <style>
        #CardArea {
            min-height: 200px;
            max-height: 200px;
            min-width: 400px;
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }
        #CardArea li{
            margin: 3px 2.5px 0px 2.5px; 
            padding: 1px; 
            float: left; 
            width: 195px; 
            height: 46px; 
            font-size: 1em; 
            text-align: left;
        }
        #EmptyTemplate, #Template1, #Template2,
        #Template3, #Template4, #Template5, #Template6,
        #Template7, #Template8, #Template9 {
            min-height: 200px;
            max-height: 200px;
            min-width: 400px;
            max-width: 400px;
            background-image: url("../../Content/EmptyTemplate.bmp");
            background-repeat: no-repeat;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-top: auto;
        }

        #Template1 {
            background-image: url("../../Content/Template1.bmp");
        }

        #Template2 {
            background-image: url("../../Content/Template2.bmp");
        }

        #Template3 {
            background-image: url("../../Content/Template3.bmp");
        }

        #Template4 {
            background-image: url("../../Content/Template4.bmp");
        }

        #Template5 {
            background-image: url("../../Content/Template5.bmp");
        }

        #Template6 {
            background-image: url("../../Content/Template6.bmp");
        }

        #Template7 {
            background-image: url("../../Content/Template7.bmp");
        }

        #Template8 {
            background-image: url("../../Content/Template8.bmp");
        }

        #Template9 {
            background-image: url("../../Content/Template9.bmp");
        }

        #fields {
            min-height: 370px;
        }

        #tools {
            border: groove;
            border-color: black;
            background-color: white;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
    </style>
</body>
</html>
